@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "./fonts.css";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  margin: 0;
  padding: 0;
}

@theme {
  --font-iranYekan-1100: "iranYekan-1100";
  --font-iranYekan-1000: "iranYekan-1000";
  --font-iranYekan-900: "iranYekan-900";
  --font-iranYekan-800: "iranYekan-800";
  --font-iranYekan-700: "iranYekan-700";
  --font-iranYekan-600: "iranYekan-600";
  --font-iranYekan-500: "iranYekan-500";
  --font-iranYekan-400: "iranYekan-400";
  --font-iranYekan-300: "iranYekan-300";
  --font-iranYekan-200: "iranYekan-200";
  --font-iranYekan-100: "iranYekan-100";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-; */
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.wrapper-pad {
  padding-inline: 40px;
}

@media screen and (max-width: 600px) {
  .wrapper-pad {
    padding-inline: 25.1px;
  }
}
